 <nav class="navbar navbar-expand  fixed-top navbar-dark bg-dark"
style="border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;"
*ngIf="this.user.type=='guest'">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav  offset-9 nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle  " href="" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Meni
      </a>
      <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
        <a class="dropdown-item pozadina" href="searchBook">Pretraga knjiga</a>
        <a class="dropdown-item pozadina" href="allEvents">Svi dogadjaji</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="login">Uloguj se! </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="registration">Registruj se!</a>
    </li>

  </ul>
</div>
</nav>
<nav class="navbar navbar-expand  fixed-top navbar-dark bg-dark"
  style="border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;"
  *ngIf="this.user.type!='guest'">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  offset-9 nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle  " href="" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Meni
        </a>
        <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
          <a class="dropdown-item pozadina" href="user">Profil</a>
          <a class="dropdown-item pozadina" href="searchUser">Pretraga korisnika</a>
          <a class="dropdown-item pozadina" href="searchBook">Pretraga knjiga</a>
          <a class="dropdown-item pozadina" href="newBook">Dodavanje knjige</a>
          <a class="dropdown-item pozadina" href="allEvents">Svi dogadjaji</a>
          <a class="dropdown-item pozadina" href="newEvent">Dodavanje dogadjaja</a>
          <a class="dropdown-item pozadina" href="newGenre" *ngIf="this.user.type=='admin'">Dodavanje zanra</a>
          <a class="dropdown-item pozadina" href="newGenre" *ngIf="this.user.type=='admin'">Brisanje zanra</a>
          <a class="dropdown-item pozadina" href="newPassword">Menjanje lozinke</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="login" (click)="logOut()"> Odjavi se</a>
      </li>

    </ul>
  </div>
</nav>
<br><br><br>


<form class="form-inline  row" style="text-align: center; margin: 5px auto;">
  <div class="col-12" style="text-align: center; margin: auto;">
    <label>Pretrazite knjigu. Unesite u polja po kojima zelite da pretrazujete knigu </label>
  </div>
  <input class="form-control col-3 offset-2"
    style="background-color: lightgrey; border-color:#292b2c; border-radius: 25px;" type="text" placeholder="Naziv"
    aria-label="Search" name="this.searchName" [(ngModel)]="this.searchName">
  <input class="form-control col-3" style="background-color: lightgrey; border-color:#292b2c; border-radius: 25px;"
    type="text" placeholder="Autor" aria-label="Search" name="this.searchAuthor" [(ngModel)]="this.searchAuthor">
  <select class="col-1" name="searchGenre" [(ngModel)]="this.searchGenre"
    style="background-color:  lightgrey;  border-radius: 20px; border: 1px solid; padding: 3px;">
    <option selected value="Zanr">Zanr</option>
    <option *ngFor="let genre1 of  genres" value="{{genre1.name}}" label="{{genre1.name}}"></option>
  </select>
  <button class="col-1" (click)="searchBook() "> Pretrazi </button>
  <label class="col-4 offset-4"> {{this.message}}</label>
  <label class="col-4 offset-4" *ngIf="this.message=='Nema knjiga po zadatom krijeterijumu'"><a href="/newBook"> Dodajte knjigu! </a></label>
</form>
{{this.searchGenre}}||{{this.searchName}}| {{this.searchAuthor}}

<table class="table table-dark" style="border-radius: 25px; border-top-left-radius: 0mm; border-top-right-radius: 0mm;
      color: lightgrey;" *ngIf="this.searchedBooks">
  <tr>
    <th style="width: 3cm;"> Naziv </th>
    <th style="width: 5cm;"> Authors </th>
    <th style="width: 3cm;"> Zanrovi </th>
    <th style="width: 3cm;"> Opis </th>
    <th style="width: 3cm;"> Ocena </th>
  </tr>
  <tr *ngFor='let book of this.searchedBooks'>
    <td> <a href="book/{{book.id}}">{{book.title}}</a> </td>
    <td> {{book.authors}} </td>
    <td> {{book.genre}} </td>
    <td> {{book.description}} </td>
    <td *ngIf="book.rate!='0'"> {{book.rate}} </td>
    <td *ngIf="book.rate=='0'"> N.O. </td>
  </tr>
</table>
