.zelenoDugme {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 5px 10px;
  outline: none;
  color: white;
  font: small-caption;
  border-radius: 24px;
  transition: 0.25s;
  background: #292b2c;
  cursor: pointer;
  color: lightgrey;
}


.zelenoDugme:hover {
  background: #2ecc71;
}

.pozadina:hover{
  background: darkgrey;
}
.pozadina{
  color: lightgrey;
}

ul.nav a:hover {
  color: lightgreen;
}

.unos {
  background-color: #292b2c;
  border: 2px solid green;
  border-radius: 24px;
  color: lightgrey;
}


.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 2vw;
  color: green;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}



@media only screen and (max-width: 600px) {
  h1 {
      font-size: 14px
  }

  p {
      font-size: 12px
  }
}
