 <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark  "
  style="border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav col-md-3 offset-md-9 nav">
      <li class="nav-item">
        <a class="nav-link " href="guest">Nastavi kao gost! </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registration">Registruj se!</a>
      </li>
    </ul>
  </div>
</nav>
<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form class="box">
          <h2 style="color: whitesmoke;">Resetovanje lozinke</h2>
          <p class="text-muted"> Unesite novu lozinku!</p>
          <input type="password" name="newPassword" [(ngModel)]="newPassword" placeholder="Lozinka">
          <div class=" alert alert-danger col-12 offset-18"
            style="border-radius: 25px; text-align: center; padding: 6px 20px 3px 20px" *ngIf="(this.messageRow1)">
            <label style="text-align: center; vertical-align: middle;">{{this.messageRow1}}</label>
          </div>
          <input type="password" name="newPassword2" [(ngModel)]="newPassword2" placeholder="Ponovite lozinku">
          <div class=" alert alert-danger col-12 offset-18"
            style="border-radius: 25px; text-align: center; padding: 6px 20px 3px 20px; " *ngIf="(this.messageRow2)">
            <label style="text-align: center; vertical-align: middle;">{{this.messageRow2}}</label>
          </div>
          <button (click)="reset()">Resetuj</button>
          <div style="color: whitesmoke;">
            {{newPassword}}||{{this.newPassword2}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
